html {
	width: 100%;
	color: white;
	background-color: black;
}


#header-img {
	height: inherit;
	width: 18%;
}

#header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 10%;
	margin-bottom: 5rem;
	display: inline-flex;
  background-color: black;
	z-index: 99;
}

#nav-bar {
  position: absolute;
  display: inline-block;  
}

#nav-bar li {
	display: inline-block;
	height: inherit;
	padding: 1rem;
}

.INFO {
	position: relative;
	display: flex;
	margin: 0;
}

.INFO input {
	display: inline-block;
	flex-direction: row;
	height: 2rem;
	width: 100%;
}

.CONDITIONS {
	display: inline-flex;
	width: 80%;
	min-height: 100px;
	margin: 3rem auto;
}

@media (max-width: 400px) {
.CONDITIONS {
	display: grid;
	grid-template-columns: 1fr;
}
}

#VIDEO {
	position: relative;
	padding: 0;
	width: 560px;
	height: 315px; 
}

@media (max-width: 400px) {
#VIDEO {
	position: relative;
	padding: 0;
	width: 90%;
	height: 200px; 
}
}

.CONDITIONS ul {
	width: 80%;
	height: 15rem;
	border: 2px solid gray;
	padding-top: 10px; 
	margin: auto 1rem;
}

.CONDITIONS input, #submit {
	text-align: center;
	width: 100%;
	height: 30px;
	background-color: red;
	border: 3px solid gray;
	color: white;
}

.CONDITIONS ul li {
	display: relative;
	text-align: left;
	flex-direction: left;
	padding-top: 15%;
	margin-left: -20%;
}

.CONDITIONS ul li:last-of-type {
	font-size: 3rem;
	text-align: center;
	margin-bottom: -20rem;
}
section {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	place-items: center;
	padding: 1rem;
}

li {
	list-style-type: none;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: red;
}
